* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
}

.main__header {
  width: 100%;
  height: auto;
  padding: 8px;
  overflow: hidden;
  background: #0a0b13;
  box-shadow: 0 2px 15px 1px #0a0b13;
}

.nav__bar {
  width: 1280px;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* for left side */
.left__logo img {
  width: 118px;
  height: auto;
}

/* for right side */
.right__item,
a {
  font-size: 1.1rem;
}

.right__item ul {
  display: flex;
  gap: 3rem;
  justify-content: space-between;
  align-items: center;
}

.right__item > ul > li {
  list-style: none;
  font-weight: 600;
  cursor: pointer;
}

.item a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
}

.item a > i {
  /* margin-right: 10px; */
  font-size: 1.5rem;
}

/* for contact button */
.right__button {
  border: none;
  background: #00798f;
  font-size: 1.1rem;
  border-radius: 30px;
  width: 120px;
  padding: 8px 1rem;
  cursor: pointer;
  text-transform: capitalize;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Product Section start */
.product__container {
  background: #dfdfdf5d !important;
  padding-bottom: 30px;
}
.product__inner__container {
  width: 1280px;
  height: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  grid-gap: 2rem;
}
.product__box {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  transition: all 0.3s ease-in-out 0s;
  position: relative;
  box-shadow: 0px 9px 18px 1px #838383a8;
}

.product__box img {
  width: 100%;
  height: 420px;
  object-fit: cover;
}

.bottom__content {
  background: #ffffff;
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  border-radius: 15px 15px 0px 0px;
  text-align: center;
}

.bottom__content h1 {
  padding-top: 5px;
  color: black;
  font-size: 30px;
  text-transform: capitalize;
  font-weight: 900;
}

.bottom__content p {
  color: #828282;
  font-size: 18px;
  padding-left: 14px;
  padding-right: 14px;
}

.reviews__start {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviews__start i {
  color: rgb(255, 73, 41);
  font-size: 25px;
  padding: 5px 0;
}

.bottom__content h3 {
  font-size: 30px;
  color: black;
  font-weight: 900;
  padding-bottom: 8px;
}

.bottom__content button {
  width: 100%;
  padding: 8px 0px;
  background: #000;
  color: white;
  border: none;
  outline: none;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 16px;
  border-radius: 15px 15px 0px 0px;
}
/* Product Section End */
